###############################
# Git Line Endings            #
###############################

* text=auto

# CRLF for Windows files.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.cs                 text eol=crlf diff=csharp

# LF for Linux files.
*.sh text eol=lf

# Common files
*.java   text eol=lf diff=java
*.html   text eol=lf diff=html
*.css    text eol=lf
*.js     text eol=lf
*.sql    text eol=lf