<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >
    <!-- Required for Open Mobile API -->
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <application
        android:name="org.eclipse.keyple.example.plugin.android.omapi.ExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Required for Open Mobile API -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity android:name=".example.plugin.android.omapi.activity.CoreExamplesActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>